**SA234 &#x25aa; Data Wrangling and Visualization &#x25aa; Spring 2026**

# Lesson 12. Introduction to Data Wrangling &mdash; The Pandas DataFrame and Series

## Overview

- **Data wrangling** (sometimes called **data munging**) is the act of transforming or manipulating data into the right form you need for analysis

- This might involve:
    - filtering or rearranging data
    - creating new data based on the existing data
    - merging different data sets together

- For example, the datasets you've been given for Project 3 actually came from 4 different datasets, managed by different parties

- Data wrangling isn't glamorous, but it is very necessary!
    - Real data sets, unlike the data sets you often encounter in class, are messy
    - It's pretty common to spend more time on wrangling data than data analysis!

- Starting with this lesson, we'll learn how to wrangle data sets with [**Pandas**](https://pandas.pydata.org/), a Python library for data manipulation and analysis


- Pandas is powerful and vast, and there are typically many ways to do a particular task with Pandas


- We will focus on a *curated* approach to using a *subset* of the Pandas library that will be sufficient to perform most data wrangling tasks

## In this lesson...

- The DataFrame object and the index


- The Series object


- Arithmetic operations, broadcasting, and alignment


- Adding a column to a DataFrame

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## The DataFrame object and the index

- Let's import Pandas &mdash; we don't need Altair for this lesson

In [ ]:
import pandas as pd

- We've already seen the **DataFrame** in this class, as a way of representing tabular data with rows and columns


- In particular, we know how to read a CSV file with tabular data into a DataFrame


- For example, we can read in the contents of `data/small_grades.csv` with `pd.read_csv()`:

In [ ]:
df = pd.read_csv('data/small_grades.csv')

- Recall that we can get the number of rows and columns of `df` with `df.shape`:

In [ ]:
df.shape

* Also recall that we can get some basic information about `df` with `df.info()`:

In [ ]:
df.info()

- As we can see from the output, we have 8 columns in this dataset


- Possible `dtype`s: 

| `dtype` | Usage |
| :- | :- |
| `object` | text (usually...) |
| `int64` | integer numbers |
| `float64` | floating point numbers |
| `bool` | Booleans: True/False values |
| `datetime64` | date and time values |
| `timedelta[ns]` | differences between two `datetime64`s |
| `category` | finite list of text values |


- We can preview the first 5 rows of `df` with `df.head()`:

In [ ]:
df.head()

- The left-most column is called the **index** of the DataFrame


- The index assigns a *label* to each row/observation


- The index does *not* count as a column/variable of the DataFrame

- Often, it will be useful to set one of the existing columns as the index of the DataFrame


- For example, we can set the index to be the values in the `student_id` column with the `.set_index()` DataFrame method, like this:

- Some notes about `.set_index()`:
    - `keys=...` specifies which column to use as the index
    - `drop=...` specifies whether the column used as the index should be dropped from the DataFrame
    - Note that `.set_index()` does *not* change the DataFrame in place, instead it returns a DataFrame
        - Therefore, we need to grab the DataFrame that `.set_index()` returns in order to use the newly created index
    - [Documentation for `.set_index()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html)

- Looking at the new `df`, we see that the index now consists of the values from the `student_id` column:

In [ ]:
df.head()

- We'll come back to how the index is used shortly

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## The Series object

- Each column of a DataFrame is a **Series** object


- We can access a column/Series of a DataFrame using Python dictionary notation, with the column name as the key


- For example, we can get the `last_name` column from `df` like this:

- Note that the Series object also comes with an index, just like a DataFrame

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Arithmetic operations, broadcasting, and alignment

- We can perform arithmetic operations between columns/Series using the usual operators: `+`, `-`, `*`, `/`


- For example, we can compute the difference between each student's Exam 1 and Exam 2 scores like this:

- A few notes before moving on:
    - The result of `+`, `-`, `*`, `/` between two columns or Series objects is another Series object
    - Arithmetic operations are element-wise (i.e., *not* like matrix algebra)

- We can also perform arithmetic operations between a column/Series and a scalar


- For example, we can compute each student's exam average like this:

- Another important note: Pandas automatically **aligns** the data by the *index label* when performing arithmetic operations


- To illustrate this, let's read in another dataset containing Quiz 1 bonus points, found in `data/quiz1_bonus.csv`:

In [ ]:
bonus_df = pd.read_csv('data/small_quiz1_bonus.csv')
bonus_df.head()

- Like with `df`, let's set the index of `bonus_df` to `student_id`:

- Note that the student ID numbers are the same as those in `df`, but in a different order


- Let's see what happens when we add these bonus points to the original Quiz 1 scores:

- Pandas correctly adds the bonus points to the original Quiz 1 scores with *matching index labels*

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Adding a column to a DataFrame

- One way of adding a column named `new_col` to a DataFrame `df` is:

    ```python
    df['new_col'] = ...
    ```

- For example, let's do the following:
    1. Add a new column to `df` containing the Quiz 1 bonus points
    2. Add a new column to `df` containing the adjusted Quiz 1 score (original score + bonus points)

- Note that the Quiz 1 bonus points are matched correctly with the corresponding `student_id`


- We will learn another, typically more convenient way to add columns to a DataFrame in a later lesson

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Problems

### Problem 0

The following problems are based on the CSV file `data/grades.csv` located in the same folder as this notebook. Read the CSV file into a DataFrame below. Display the top 5 rows of the DataFrame.

### Problem 1

How many students are in this dataset?

### Problem 2

Compute each student's exam average as a percentage (a fraction between 0 and 1). The maximum score on each exam is 100 points. Each exam is equally weighted in a student's exam average. Add a column containing the exam averages to the DataFrame. Check your work by displaying the top 5 rows of the DataFrame.

### Problem 3

Compute each student's quiz average as a percentage (fraction between 0 and 1). The maximum score on Quizzes 1 and 3 is 20 points; the maximum score on Quizzes 2 and 4 is 30 points. Each quiz is equally weighted in a student's quiz average. Add a column containing the quiz averages to the DataFrame. Check your work by displaying the top 5 rows of the DataFrame.

### Problem 4

Compute each student's course grade as a weighted average of each student's quiz average and exam average: quizzes are worth 35\%, exams are worth 65\%. Add a column containing the course grades to the DataFrame. 


Check your work by displaying the top 5 rows of the DataFrame. You should find that Romeo Conway has a course grade of about 78.8%, Naseem Livingston has a course grade of 70.4%, and Remy Clark has a course grade of 77.5%.

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Notes and sources

- From the [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html):
    - [Intro to data structures](https://pandas.pydata.org/docs/user_guide/dsintro.html)
    - [Essential basic functionality](https://pandas.pydata.org/docs/user_guide/basics.html)